@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, #111827 0%, #020617 45%);
    
  color: white;
  font-family: 'Inter', sans-serif;
}